

<h1>Listing tracks</h1>

<table class="tracks">
  <tr>
    <th>Begins</th>
    <th>Ends</th>
    <th>Breaks</th>
    <th>Location</th>
    <th>Desc</th>
    <th>Project</th>
  </tr>

<% for track in @tracks %>
  <tr>
    <td><%=h track.begins %></td>
    <td><%=h track.ends %></td>
    <td><%=h track.breaks %></td>
    <td><%=h track.location %></td>
    <td><%=h track.desc %></td>
    <td><%=h track.project.name %></td>
    <td><%= link_to 'Show', track %></td>
    <td><%= link_to 'Edit', edit_track_path(track) %></td>
    <td><%= link_to 'Destroy', track, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% remote_form_for(@track) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :begins %><br />
    <%= f.datetime_select :begins %>
  </p>
  <%= select_tag 'project_id', options_for_select(Project.all.collect{ |u| [u.name, u.id] }) %>

  <p>
    <%= f.label :ends %><br />
    <%= f.datetime_select :ends %>
  </p>
  <p>
    <%= f.label :breaks %><br />
    <%= f.text_field :breaks %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


<%= link_to 'New track', new_track_path %>


