<h1>New track</h1>

<% form_for(@track) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :begins %><br />
    <%= f.datetime_select :begins %>
  </p>
  <p>
    <%= f.label :ends %><br />
    <%= f.datetime_select :ends %>
  </p>
  <p>
    <%= f.label :breaks %><br />
    <%= f.text_field :breaks %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tracks_path %>
