<% content_for :side do %>
    <%= render(:partial => @projects)%>
<% end %>

<h1>Ticket cloud</h1>
<table class="tickets">
    <tr>
        <th>#</th>
        <th>Description</th>
        <th>Assigned to</th>
        <th>Creator</th>
        <th>Actions</th>
    </tr>
    <% for ticket in @tickets %>
        <%= render(:partial => ticket) %>
    <% end %>
    </table>

<% remote_form_for(@ticket) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<br />

<%= link_to 'New ticket', new_ticket_path %>
