<h1>Ticket cloud</h1>

<div class="tickets">
<% for ticket in @tickets %>
    <%= render(:partial => ticket) %>
<% end %>
</div>

<% remote_form_for(@ticket) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<br />

<%= link_to 'New ticket', new_ticket_path %>
