<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Tickets: <%= controller.action_name %></title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'reset-min' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'screen.css' %>

    <script type="text/javascript" src="jquery-1.2.6.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
	    // TODO: validation etc. parent().parent() is only for the demo
            $(".close").click( function() {
               $(this).parent().parent().hide("slow");
            });
        });
    </script>

</head>
<body>

<div class="header">
    <div class="logo">
    </div>
    <div class="main_nav">
        <%= link_to 'Tickets', tickets_path%>
        <%= link_to 'Projects', projects_path %>
        <%= link_to 'Sprints', sprints_path %>
        <%= link_to 'Logout', '/logout' %>
    </div
</div>

<div class="side_nav">
    <%= yield(:side) || "Empty" %>
</div>

<div class="content">
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield  %>
</div>

<div class="footer">
    <p>
	Yritys OY AB
    </p>
</div>

</body>
</html>






